:root {
  background-color: #f0e68c;
  font-family: "Nunito", sans-serif;
  /* background-image: url("assets/temple.jpg"); */
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-500: rgb(0, 0, 0);
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@300&display=swap");

/* body {
  background-image: url("assets/temple.jpg");
} */

img {
  width: 50%; /* Set the width to 50% of its original size */
  height: auto; /* Maintain the aspect ratio of the image */
}

.heading {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
}

.loc {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.img {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.csimg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
}

.cshead {
  margin-right: 100px;
  margin-left: 20px;
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .csimg {
    position: absolute;
    top: 100px;
    right: 70px;
    width: 60%;
    height: 20%;
  }
  /* .csimg,
  .cshead {
    max-width: 100%;
    height: auto;
    float: right;
  } */
}

.site-footer {
  --logo-color: currentColor;
  padding: 2em 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  text-align: center;
}

.page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}

.text {
  size: 10px;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  display: flex;
  align-items: center;
  color: black;
  height: 60px;
  padding: 0 20px;
}

svg {
  margin-right: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  margin: 0 10px;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

/* Media queries */
@media screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }

  li {
    margin: 0 5px;
  }

  a {
    padding: 5px 10px;
  }
}
